*{color: #fff}
.bg{
	background:url('../img/book.jpg') no-repeat;height:100vh
}

.form-container{
	border:0px solid #fff; padding:40px 40px; margin-top:20vh;
	-webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}
.form-heading{
	padding:0px 50px;
}